.marquee-bar {
  background-color: var(--ds-secondary);
  border-bottom: 2.5px solid var(--ds-border);
  border-top: 2.5px solid var(--ds-border);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.marquee-text {
  font-family: "Bangers", cursive;
  letter-spacing: 0.1em;
  color: var(--ds-primary);
  -webkit-text-stroke: 1px var(--ds-foreground);
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}
