.marquee-bar {
  background-color: #0057ff;
  border-bottom: 2.5px solid #0d0d0d;
  border-top: 2.5px solid #0d0d0d;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.marquee-text {
  font-family: "Bangers", cursive;
  letter-spacing: 0.1em;
  color: #fcd12a;
  -webkit-text-stroke: 1px #0d0d0d;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}
